#canvas {
    margin:auto;
    background: #ececec;
    width: 50%;
    height: auto;
    max-height: 500px;
    -o-object-fit: contain;;
    object-fit: contain;;
    overflow: hidden;
}

.btn-disabled {
    color:#000 !important;
}

.container {
    width: 75%;
}